h1{
    
   color:green;
}
h2,h3{
    
    background-color: blue;
    color: white;
  
    
    
}
img{
    
    border: 3px;
    border-color: black;
    border-style: solid;
    padding: 5px;
}
body{
    width: 1200px;
}
*{
    font-family: "Verdana";
}
